---
import BaseLayout from '../../layouts/BaseLayout.astro';

import GalleryImage from '../../components/GalleryImage.astro';

// import images individually from the public folder as shown
// and use in the GalleryImage component
import cassettes from '../../assets/unsplash/cassettes.jpg';
import gameboy from '../../assets/unsplash/gameboy.jpg';
import phones from '../../assets/unsplash/phones.jpg';
import pogs from '../../assets/unsplash/pogs.jpg';
import polaroid from '../../assets/unsplash/polaroid.jpg';
import viewMaster from '../../assets/unsplash/view-master.jpg';

const pageTitle = "Photography";
const imageWidth = 200;
---

<BaseLayout pageTitle={pageTitle}>
  <GalleryImage
    imagePath={cassettes}
    altText=""
    width={imageWidth}
  />

  <GalleryImage
    imagePath={gameboy}
    altText=""
    width={imageWidth}
  />

  <GalleryImage
    imagePath={phones}
    altText=""
    width={imageWidth}
  />

  <GalleryImage
    imagePath={pogs}
    altText=""
    width={imageWidth}
  />

  <GalleryImage
    imagePath={polaroid}
    altText=""
    width={imageWidth}
  />

  <GalleryImage
    imagePath={viewMaster}
    altText=""
    width={imageWidth}
  />

  <p>
    Photo by <a href="https://unsplash.com/@girlwithredhat?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Girl with red hat</a> on <a href="https://unsplash.com/photos/black-and-silver-candybar-phone-ma2ur_ld0ko?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
  <p>
    Photo by <a href="https://unsplash.com/@jenniferhuanng?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">J Huang</a> on <a href="https://unsplash.com/photos/black-and-white-cd-album-Bj62dYbaUw8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
  <p>
    Photo by <a href="https://unsplash.com/@benofthenorth?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ben Griffiths</a> on <a href="https://unsplash.com/photos/black-digital-device-at-4-00-wecpA8RQ_zc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
  <p>
    Photo by <a href="https://unsplash.com/@phillshaw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Phil Shaw</a> on <a href="https://unsplash.com/photos/white-blue-and-red-floral-ceramic-plates-UCQSFVkQOag?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
  <p>
    Photo by <a href="https://unsplash.com/@girlwithredhat?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Girl with red hat</a> on <a href="https://unsplash.com/photos/red-and-black-plastic-toy-TTVk17o6lgA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
  <p>
    Photo by <a href="https://unsplash.com/@anniespratt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Annie Spratt</a> on <a href="https://unsplash.com/photos/black-instant-camera-on-wooden-surface-Vfem2XDB210?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>

</BaseLayout>